<%- include("templates/header" , {tituloWeb: "Aprendices" , urlStyle: "/Style/css__aprendices.css" }) %>

    <section>
        <div class="container" id="container">
            <a href="/aprendices/crear" class="btn btn-primary">
                Crear
            </a>
            <div id="table__style">

                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">documento</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Nota JS</th>
                            <th scope="col">Nota PHP</th>
                            <th scope="col">Nota Ingles</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let i=1 %>
                            <% if (aprendices.length> 0) { %>
                                <% aprendices.forEach(aprendiz=> { %>
                                    <tr>
                                        <th scope="row">
                                            <%= i %>
                                        </th>
                                        <td scope="col">
                                            <%= aprendiz.documento %>
                                        </td>
                                        <td scope="col">
                                            <%= aprendiz.nombre%>
                                        </td>
                                        <td scope="col">
                                            <%= aprendiz.notaJs %>
                                        </td>
                                        <td scope="col">
                                            <%= aprendiz.notaPhp %>
                                        </td>
                                        <td scope="col">
                                            <%= aprendiz.notaIngles %>
                                        </td>
                                        <td>
                                            <a href="/aprendices/<%= aprendiz.id  %>" class="btn btn-warning">
                                                Editar</a>

                                            <button href="" onclick="VerificarConAlert('<%= aprendiz.id  %>')"
                                                class="btn btn-danger" id="btn__eliminar"> Borrar</button>
                                        </td>
                                    </tr>
                                    <% i+=1 %>
                                        <% }) %>
                                            <% } %>
                    </tbody>
                </table>
            </div>

        </div>

    </section>
    <script>
        const VerificarConAlert = (aprend) => {
            console.log(aprend)

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = 'aprendices/borrar/' + aprend
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    )
                }
            })
        }
    </script>

    <%- include("templates/footer") %>