<%- include("templates/header" , {tituloWeb: "CREAR APRENDIZ" ,urlStyle: "/Style/css__crear.css" }) %>

    <section>
        <div class="container">
            <% if (error) { %>
                <h1>
                    <%= mensaje %>

                </h1>
                <% } %>
                    <% if (!false) { %>

                        <form method="POST" action="/aprendices/<%= aprendiz.id %>?_method=DELETE">
                            <div class="form-floating mb-3">
                                <input name="documento" type="text" class="form-control" id="floatingInput"
                                    placeholder="name@example.com" value="<%= aprendiz.documento %>">
                                <label for="floatingInput">documento

                                </label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="nombre" type="text" class="form-control" id="floatingPassword"
                                    placeholder="Nombre" value="<%= aprendiz.nombre %>">
                                <label for="floatingInput">Nombre:</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="notaJs" type="text" class="form-control" id="floatingPassword"
                                    placeholder="Password" value="<%= aprendiz.notaJs %>">
                                <label for="floatingPassword">notaJs:</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="notaPhp" type="text" class="form-control" id="floatingPassword"
                                    placeholder="Password" value="<%= aprendiz.notasPhp %>">
                                <label for="floatingPassword">notaPhp:</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="notaIngles" type="text" class="form-control" id="floatingPassword"
                                    placeholder="Password" value="<%= aprendiz.notaIngles %>">
                                <label for="floatingPassword">notaIngles:</label>
                            </div>
                            <div class="btn__send">

                                <a href="/aprendices" class="btn btn-dark">Volver</a>
                                <button type="submit" class="btn btn-success">Editar</button>
                                <button type="button" name="id" data-id="<%= aprendiz.id  %>" href=""
                                    class="btn btn-danger" id="btn__eliminar">
                                    Borrar</button>
                            </div>
                        </form>
                        <% } %>

        </div>



    </section>

    <%- include("templates/footer") %>
        <script>
            const btn = document.getElementById('btn__eliminar');
            const idn = btn.dataset.id
            btn.addEventListener('click', async () => {
                console.log(idn)
                try {
                    const data = await fetch(`/aprendices/${idn}?_method=DELETE`, {
                        method: 'DELETE'
                    });
                    const respuesta = await data.text()
                    console.log(respuesta)

                } catch (error) {
                    console.log(error)
                }
            })
        </script>